.bottom-inputs {
    display: block;
    position: relative;
}

.submit-button {
    margin-top: 1rem;
}

.delete-btn {
    position: relative;
    float: right;
}

.card-btn {
    text-align: center;
    margin-right: 3px;
    float: right;
    font-size: 12px !important;
    /* height: 20px !important;
    width: 20px !important; */
    padding: 2px 5px 0px !important;
}